a {
  text-decoration: none;
  color: white;
}

.space {
  flex: 1 1 auto;
}

.navbar {
  background: rgb(123,31,162);
  background: linear-gradient(59deg, rgba(123,31,162,1) 0%, rgba(172,6,144,1) 64%, rgba(239,0,169,1) 100%);
  position: relative;
}

.margin {
  margin: 10px;
}
